body {
    background-image: url("../assets/landingpage/landingpage_bg.jpg");
    background-repeat: repeat;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

p, ul, li {
    color: white;
}

h1 {
    color: white;
    font-family: "JuraLight", "Courier New", sans-serif;
    font-size: 80px;
    transform: rotateX(35deg);
}

#title-game {
    perspective: 320px;
}

#the-score-display {
    font-family: "JuraLight", "Courier New", sans-serif;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: gold;
    display: inline-block;
    width: 30%;
    text-align: center;
}

#astronautica:-moz-full-screen {
    height: 100%;
}

#astronautica:-webkit-full-screen {
    height: 100%;
}

#astronautica:-ms-fullscreen {
    height: 100%;
}

#astronautica:fullscreen {
    height: 100%;
}

#fuel-display {
    height: 100%;
    position: absolute;
    right: 0;
    width: 70%;
}

#go-up {
    position: absolute;
    bottom: 0;
    top: 0;
    display: block;
    width: 100%;
    background-color: transparent;
}

#hud-holder {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid white;
}

#load-spin {
    color: white;
    display: inline-block;
    position: absolute;
    top: 42%;
    padding: 0;
    font-size: 80px;
    margin: 0;
    left: 38.5%;
    z-index: 999;
}

#game-holder {
    background-color: transparent;
    height: 100%;
    display: block;
    padding-top: 75px;
    /*min-width: 750px;*/
}

#astronautica {
    box-shadow: 0 0 106px 12px rgba(225, 225, 225, 0.48);
    border: 2px solid white;
}

#astronautica > canvas {
    display: inline-block;
}

#fuel-bar {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    padding: 3px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

#fuel-bar-content {
    height: 22px;
    display: block;
    background: rgba(5, 37, 163, 1);
    background: -moz-linear-gradient(left, rgba(5, 37, 163, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(199, 8, 138, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(5, 37, 163, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(199, 8, 138, 1) 100%);
    background: -o-linear-gradient(left, rgba(5, 37, 163, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(199, 8, 138, 1) 100%);
    background: -ms-linear-gradient(left, rgba(5, 37, 163, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(199, 8, 138, 1) 100%);
    background: linear-gradient(to right, rgba(5, 37, 163, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(199, 8, 138, 1) 100%);
    border-radius: 3px;
    transition: width 400ms linear;
}