#score-table > p:nth-child(1) {
    font-size: 30px;
}

#score-table > p:nth-child(2) {
    font-size: 25px;
}

#score-table > p:nth-child(3) {
    font-size: 25px;
}

#score-table {
    display: inline-block;
}

.scoreboard-title {
    font-size: 55px;
    margin-bottom: 27px;
}

tbody {
    text-align: left;
}

.over-row {
    font-size: 20px;
}
