#the-end-menu {
    padding: 60px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    list-style: none;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
}

#the-end-menu > li {
    padding: 10px;
}

#the-end-menu > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#played-score {
    font-size: 50px;
    position: relative;
    width: 100%;
    color: gold;
    margin-top: 10px;
}

#score-box {
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 100%;
    background-color: black;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

