@font-face {
    font-family: "MonsterrateReg";
    src: url("../fonts/Montserrat-Regular.ttf") /* EOT file for IE */
}

@font-face {
    font-family: "JuraReg";
    src: url("../fonts/Jura-Regular.ttf") /* EOT file for IE */
}

@font-face {
    font-family: "JuraLight";
    src: url("../fonts/Jura-Light.ttf") /* EOT file for IE */
}